body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.2rem;}
p {font-size: 1rem;}

button img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}

.headerSectionDivisionOne {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.headerSectionDivsionTwo {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.headerSectionDivsionTwo div {
    display: flex;
    align-items: center;
}

.headerSectionDivsionTwo img {
    height: 48px;
    width: 48px;
}

.headerSectionDivsionTwo button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 50%;
    border: solid black 3px;
    background-color: white;
}

.companyLogoImgNameDivision {
    border: 1px solid black;
    padding: 5px;
}

.navigationButtonDivision {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40px;
    left: -400px;
    width: 200px;
    height: 100%;
    background-color: white;
    color: black;
    z-index: 2;
    transform: translateX(200px);
    transition: left 0.8s ease;
}

.navigationButtonDivision.active {
    left: -200px;
}

.navigationButtonDivision:hover {
    cursor: pointer;
}

.navigationButtonDivision a {
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
}

.navigationButtonDivision a:hover {
    text-decoration: underline;
}

.headerTwoDivisionButtons img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}


.blogsNavigationDivision {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blogsMainBoxParentDivision{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.blogsMainBoxParentDivision div  {
    background-color: blue;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.blogsMainBoxParentDivision div div {
    background-color: green;
    border: 1px solid black;
    padding: 10px;
}


.footerdivision {
    margin-top: 150px;
    background-color: black;
    color: white;
    padding: 40px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footerDivisionMain {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footerdivision img {
    height: 50px;
    width: 50px;
}

.footerRightCompanyQuickLinks {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.footerRightCompanyQuickLinks div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerRightCompanyQuickLinks h3 {
    color: grey;
}
.footerRightCompanyQuickLinks a {
    text-decoration: none;
    color: white;
}
.footerRightCompanyQuickLinks a:hover {
    text-decoration: underline;
}

.footercompanyaddress a {
    color: white;
}


.backToTopDivision {
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

.backToTopDivision a {
    color: white;
    text-decoration: none;
}

.backToTopDivision a:hover {
    text-decoration: underline;
}

.footerWhatsAppMessage {
    position: fixed;
    bottom: 140px;
    right: 50px;
}

.footerMailMesssage {
    position: fixed;
    bottom: 60px;
    right: 50px;
}

.backToTopDivision img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.privacyPolicyDivision {
    margin-top: 100px;
    color: grey;
    font-size: 10px;
    text-align: center;
}