@media screen and (min-width: 1100px) {
   

    body {
        padding-left: 10px;
        padding-right: 10px;
    }


    .headerOneDivision {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        height: 40px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 5;
    }


    .headerTwoDivision {
        display: flex;
        padding-top: 65px;
        justify-content: space-between;
        position: relative;
        align-items: center;
        gap: 25px;
        padding-bottom: 30px;
        border-bottom: 1px solid black;
    }

    .companylogoImgName {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding-right: 5px;
        padding-left: 5px;
        gap: 5px;
    }

    .companylogoImgName img {
        width: 35px;
        height: 35px;
    }

    .navigationButtonDivision {
        color: black;
        font-size: 15px;
        gap: 10px;
        padding-top: 10px;
    }

    .navigationButtonDivision a {
        text-decoration: none;
        color: black;
        margin: 5px;
        padding: 10px;
        margin-bottom: 5px;
    }

    .navigationButtonDivision a:hover {
        text-decoration: underline;
    }

    .headerTwoDivisionButtons {
        display: flex;
    }

    .headerTwoDivisionButtons button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: none;
        margin-right: 5px;
    }
  
    .headerTwoDivisionButtons img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 2px solid black;
    }


    .contentOneDivision {
        margin-top: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
    }

    .contentOneDivision a {
        color: blue;
        text-decoration: underline;
        border: 1px solid black;
        margin-left: 100px;
    }

    .contentOneDivision img {
        width: 400px;
        height: 400px;
    }

    .contenOneImageOneDiv figcaption {
        display: none;
    }


    .contentTwoDivision {
        display: flex;
        gap: 100px;
        margin-top: 300px;
        align-items: center;
        justify-content: center;
    }

    .contentTwoImageDiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .contentTwoImageDiv div {
        display: flex;
        gap: 10px;
    }

    .contentTwoImgOne, .contentTwoImgTwo {
        width: 250px;
        height: 250px;
    }

    .contentTwoImgThree {
        width: 510px;
    }


    .ourServicesDivision {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .servicesDescDivisionOne h2, .servicesDescDivisionOne p {
        color: grey;
    }

    .servicesDescDivisionOne, .servicesDescDivisionTwo {
        display: flex;
        justify-content: space-evenly;
        gap: 100px;
    }

    .servicesDescDivisionOne div, .servicesDescDivisionTwo div {
        width: 450px;
    }

    .servicesDescDivisionTwo h3, .servicesDescDivisionOne h3 {
        border-bottom: 1px solid black;
    }

    .servicesDescDivisionTwo h2, .servicesDescDivisionTwo p {
        color: grey;
    }


    .contentThreeDivision {
        display: flex;
        flex-direction: column;
        height: 1000px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 100px;
        background-image: url(../images/contentThree.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        margin-right: -20px;
        margin-left: -20px;
        margin-top: 200px;
    }


    .statisticDivision {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }

    .statsRightDivision {
        display: flex;
        gap: 300px;
        justify-content: space-evenly;
        border-top: 1px solid black;
    }

    .statsRightOneDivision, .statsRightTwoDivision {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


    .forumDivision {
        margin-top: 150px;
    }

    .forumDivisionForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 90px;
    }

    .forumInputDivision  {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 50px;
    }

    .forumInputDivision div {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        gap: 100px;
    }

    .forumSubmitButton {
        width: 400px;
    }

    .forumDivisionForm {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .pricingDivision {
        margin-top: 150px;
    }

    .pricingDivision div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .pricingDivisionsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .pricingDivisionsDiv div {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .partnersDivision {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .partnersDivision a {
        text-decoration: underline;
        color: black;
        text-align: center;
    }

    .partnersDivision a {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .partnersDivision a:hover {
        text-decoration: underline;
    }

    .collabImagesDivisionScroll {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .collabImagesDivision {
        display: flex;
        gap: 50px;
        animation: scrollLeft 60s linear infinite;
    }
    
    .collabImagesDivision img {
        height: 70px;
        object-fit: cover;
    }
    
    @keyframes scrollLeft {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(100%);
        }
    }
      

    .callBookingDivision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 150px;
    }

    .callBookingDivision img {
        width: 400px;
        height: 400px;
    }

    .callBookingDivision a {
        background-color: white;
        color: black;
        border: black 1px solid;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
    }

    .storyDivisionscroll {
        width: 100vw;
        overflow: hidden;
        margin-top: 300px;
    }

    .storyDivision {
        display: flex;
        gap: 30px;               
        min-width: max-content; 
        animation: scroll 12s linear infinite;
    }

    .storyDivision img {
        height: 80px;
        width: 80px;
    }

    @keyframes scroll {
        100% {
          transform: translateX(0);
        }
        0% {
          transform: translateX(-50%);
        }
    }
    
    .collabImagesDivisionScroll:hover .collabImagesDivision {
        animation-play-state: paused;
    }


    .storyDivisionscrollTwo {
        width: 100%;
        overflow: hidden;
        margin-top: 100px;
    }

    .storyDivisionTwo {
        display: flex;
        gap: 30px;               
        min-width: max-content; 
        animation: scrollTwo 20s linear infinite;
    }

    .storyDivisionTwo img {
        height: 80px;
        width: 80px;
    }

    @keyframes scrollTwo {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
    }
    
    .collabImagesDivisionScroll:hover .collabImagesDivision {
        animation-play-state: paused;
    }


    .teamPartDivision {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .teamPartDivision button {
        height: 70px;
        border: 1px solid black;
        border-radius: 10px;
    }


    .singnInDivision {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: black;
        color: white;
        height: 50px;
        position: absolute;
        left: 0px;
        right: 0px;
    }

    .singnInDivision a {
        color: white;
        text-decoration: none;
    }

    .singnInDivision a:hover {
        text-decoration: underline;
    }


    .testimonialDivision {
        margin-top: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .testimonialDivision img {
        background-color: red;
        height: 50px;
        width: 50px;
    }

    .testimonialOne, .testimonialTwo, .testimonialThree {
        width: 750px;
        height: 500px;
        border: 1px solid black;
        padding: 5px;
    }

    .testimonialOne:hover, .testimonialTwo:hover, .testimonialThree:hover {
        transform: translateY(-10px);
        translate: tranform 0.5s ease;
    }


    .faq-section {
        max-width: 1300px;
        margin: 2rem auto;
        font-family: Arial, sans-serif;
        margin-top: 150px;
    }
    
    .faq-section h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    
    .faq-item {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.5rem;
    }
    
    .faq-question {
        width: 100%;
        background: #fff;
        border: none;
        padding: 1rem;
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        position: relative;
    }
    
    .faq-question::after {
        content: "ï¼‹";
        position: absolute;
        right: 1rem;
        font-size: 1.2rem;
        transition: transform 0.3s ease;
    }
    
    .faq-question.active::after {
        transform: rotate(45deg);
    }
    
    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 1rem;
    }
    
    .faq-answer p {
        margin: 0.8rem 0;
        font-size: 0.95rem;
        color: #444;
    }
  

    .footerdivision {
        margin-top: 250px;
        background-color: black;
        color: white;
        padding: 40px;
        margin-left: -20px;
        margin-right: -20px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .footerRightCompanyQuickLinks {
        display: flex;
        justify-content: space-around;
        margin-top: 150px;
    }

    .footerdivision img {
        height: 150px;
        width: 150px;
    }

    .footerRightCompanyQuickLinks {
        display: flex;
    }
    .footerRightCompanyQuickLinks div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footerRightCompanyQuickLinks h3 {
        color: grey;
    }
    .footerRightCompanyQuickLinks a {
        text-decoration: none;
        color: white;
    }
    .footerRightCompanyQuickLinks a:hover {
        text-decoration: underline;
    }

    .backToTopDivision {
        margin-top: 100px;
        background-color: black;
        color: white;
        margin-left: -20px;
        margin-right: -20px;
        text-align: center;
        position: relative;
    }

    .backToTopDivision a {
        color: white;
        text-decoration: none;
    }

    .backToTopDivision a:hover {
        text-decoration: underline;
    }

    .footerWhatsAppMessage {
        position: fixed;
        top: 450px;
        right: 50px;
    }
    .footerMailMesssage {
        position: fixed;
        top: 520px;
        right: 50px;
    }

    .backToTopDivision img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .privacyPolicyDivision {
        margin-top: 100px;
        color: grey;
        font-size: 10px;
        text-align: center;
    }
}