body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 25px;        
    overflow-x: hidden;
}

.headerOneDivision {
    display: flex;
    position: fixed;
    color: white;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    height: 40px;
    z-index: 5;
}

.headerTwoDivision {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.companylogoImgName {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    align-items: center;
}

.companylogoImgName img {
    width: 50px;
    height: 50px;
}

.navigationButtonDivision {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 42px;
    left: -400px;
    width: 200px;
    height: 100%;
    background-color: white;
    color: black;
    z-index: 2;
    transform: translateX(200px);
    transition: left 0.8s ease;
}

.navigationButtonDivision.active {
    left: -200px;
}

.navigationButtonDivision:hover {
    cursor: pointer;
}

.navigationButtonDivision a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigationButtonDivision a:hover {
    text-decoration: underline;
}

.headerTwoDivisionButtons {
    display: flex;
}

.headerTwoDivisionButtons button {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
    border: none;
}

.headerTwoDivisionButtons img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.contentOneDivision {
    display: flex;
    gap: 70px;
    margin-top: 100px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.contentOneDivision img {
    height: 500px;
    width: 500px;
}

.contentOneDivision figcaption {
    display: none;
}


.contentTwoDivision {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
}

.contentTwoImageDiv {
    display: flex;
    gap: 20px;
}

.contentTwoImageDivPartOne {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentTwoDivision img {
    height: 300px;
}


.ourServicesDivision {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}

.servicesDescDivisionOne, .servicesDescDivisionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesDescDivisionOne div, .servicesDescDivisionTwo div {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}


.contentThreeDivision {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 100px;
    background-image: url(../images/contentThree.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 150px;
}


.statisticDivision {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}

.statsRightDivision {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.forumDivision {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}

.forumDivisionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.forumInputDivision {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forumInputDivision div {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}


.pricingDivision {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}

.pricingDivisionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pricingDivisionsDiv div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;
}


.partnersDivision {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.partnersDivision a {
    text-decoration: underline;
    color: black;
    text-align: center;
}

.collabImagesDivisionScroll {
    width: 100%;
    overflow: hidden;
}
    
.collabImagesDivision {
    display: flex;
    gap: 40px;               
    min-width: max-content; 
    animation: marquee 20s linear infinite;
}
    
.collabImagesDivision img {
    height: 90px; 
    object-fit: cover;            
}
    
@keyframes marquee {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-50%);
    }
}

.collabImagesDivisionScroll:hover .collabImagesDivision {
    animation-play-state: paused;
}


.callBookingDivision {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: lightgrey;
    padding: 20px;
}

.callBookingImgDivision {
    display: flex;
    justify-content: center;
}

.callBookingDivision img {
    height: 500px;
    width: 500px;
}


.storyDivisionscroll {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.storyDivision {
    display: flex;
    gap: 30px;               
    min-width: max-content; 
    animation: scroll 12s linear infinite;
    margin-top: 100px;
}

.storyDivision img {
    height: 250px;
    width: 250px;
}

@keyframes scroll {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-50%);
    }
}


.storyDivisionscrollTwo {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.storyDivisionTwo {
    display: flex;
    gap: 30px;               
    min-width: max-content; 
    margin-top: 100px;
    animation: scrollTwo 12s linear infinite;
}

.storyDivisionTwo img {
    height: 250px;
    width: 250px;
}

@keyframes scrollTwo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.collabImagesDivisionScroll:hover .collabImagesDivision {
    animation-play-state: paused;
}


.teamPartDivision {
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.teamPartButtonDivision {
    display: flex;
    justify-content: center;
}

.teamPartButtonDivision button {
    font-size: 25px;
}


.singnInDivision {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: black;
    color: white;
    margin-right: -20px;
}

.singnInDivision a {
    color: white;
}


.testimonialDivision {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.testimonialDivision img {
    background-color: red;
    height: 40px;
    width: 40px;
}

.testimonialOne, .testimonialTwo, .testimonialThree {
    width: 450px;
    border: 1px solid black;
    padding: 15px;
}

.testimonialOne:hover, .testimonialTwo:hover, .testimonialThree:hover {
    transform: translateY(-10px);
    translate: tranform 0.5s ease;
}


.faq-section {
    max-width: 100%;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.faq-section h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2.0rem;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

.faq-question {
    width: 100%;
    background: #fff;
    border: none;
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
}

.faq-question::after {
    content: "＋";
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.faq-question.active::after {
    transform: rotate(45deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
}

.faq-answer p {
    margin: 0.8rem 0;
    font-size: 0.95rem;
    color: #444;
}


.footerdivision {
    margin-top: 150px;
    background-color: black;
    color: white;
    padding: 40px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footerDivisionMain {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footerdivision img {
    height: 50px;
    width: 50px;
}

.footerRightCompanyQuickLinks {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.footerRightCompanyQuickLinks div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerRightCompanyQuickLinks h3 {
    color: grey;
}
.footerRightCompanyQuickLinks a {
    text-decoration: none;
    color: white;
}
.footerRightCompanyQuickLinks a:hover {
    text-decoration: underline;
}


.backToTopDivision {
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

.backToTopDivision a {
    color: white;
    text-decoration: none;
}

.backToTopDivision a:hover {
    text-decoration: underline;
}

.footerWhatsAppMessage {
    position: fixed;
    bottom: 120px;
    right: 40px;
}

.footerMailMesssage {
    position: fixed;
    bottom: 60px;
    right: 40px;
}

.backToTopDivision img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.privacyPolicyDivision {
    margin-top: 100px;
    color: grey;
    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .contentOneDivision {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contentOneDivision img {
        height: 350px;
        width: 350px;
    }

    .contentTwoDivision {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contentTwoDivision img {
        height: 250px;
    }   

    .contentTwoImageDiv {
        flex-direction: column;
    } 


    .servicesDescDivisionOne {
        gap: 40px;
    }

    .servicesDescDivisionOne, .servicesDescDivisionTwo {
        flex-direction: row;
        gap: 40px;
    }

    .servicesDescDivisionOne div, .servicesDescDivisionTwo div {
        height: 450px;
    }
    


    .pricingDivisionsDiv {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .testimonialDivision {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .testimonialOne, .testimonialTwo, .testimonialThree {
        width: 250px;
        height: 600px;
    }

}


@media screen and (min-width: 1024px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .contentOneDivision {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contentOneDivision img {
        height: 450px;
        width: 450px;
    }

    .contentTwoDivision {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .contentTwoDivision img {
        height: 250px;
        width: 250px;
    } 

}

@media only screen and (max-width: 450px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
        margin: 0px;
        background-color: red;
    }
    
    
    .headerOneDivision {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        height: 25px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 5;
    }
    
    
    .headerTwoDivision {
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        position: relative;
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
    }
    
    .companylogoImgName {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding-right: 5px;
        padding-left: 5px;
        gap: 5px;
        height: 40px;
    }
    
    .companylogoImgName img {
        width: 30px;
        height: 30px;
    }
    
    .navigationButtonDivision {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 20px;
        left: -400px;
        width: 200px;
        height: 100%;
        background-color: white;
        color: black;
        z-index: 2;
        transform: translateX(200px);
        transition: left 0.8s ease;
    }
    
    .navigationButtonDivision.active {
        left: -200px;
    }
    
    .navigationButtonDivision:hover {
        cursor: pointer;
    }
    
    .navigationButtonDivision a {
        border: 1px solid black;
        text-decoration: none;
        color: black;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navigationButtonDivision a:hover {
        text-decoration: underline;
    }
    
    .headerTwoDivisionButtons {
        display: flex;
    }
    
    .headerTwoDivisionButtons button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: none;
        margin-right: 5px;
    }
    
    .headerTwoDivisionButtons img {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 2px solid black;
    }
    
    .contentOneDivision {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .contentOneDivision a {
        color: blue;
        text-decoration: underline;
        border: 1px solid black;
        margin-left: 100px;
    }
    
    .contentOneDivision img {
        width: 300px;
        height: 300px;
    }
    
    .contenOneImageOneDiv figcaption {
        display: none;
    }
    
    
    .contentTwoDivision {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    
    .contentTwoImageDiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .contentTwoImageDiv div {
        display: flex;
        justify-content: right;
        gap: 10px;
    }
    
    .contentTwoDivision img {
        width: 150px;
        height: 150px;
    }
    
    
    .ourServicesDivision {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .servicesDescDivisionOne h3 {
        border-top: 1px solid black;
    }
    .servicesDescDivisionOne h2, .servicesDescDivisionOne p {
        color: grey;
    }
    
    .servicesDescDivisionOne, .servicesDescDivisionTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .servicesDescDivisionOne div, .servicesDescDivisionTwo div{
        height: 250px;
        width: 250px;
    }
    
    .servicesDescDivisionTwo h3 {
        border-top: 1px solid black;
    }
    .servicesDescDivisionTwo h2, .servicesDescDivisionTwo p {
        color: grey;
    }
    
    
    .contentThreeDivision {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 100px;
        background-image: url(../images/contentThree.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 100px;
    }
    
    
    .statisticDivision {
        margin-top: 100px;
    }
    
    .statsRightDivision {
        display: flex;
        gap: 30px;
        border-top: 1px solid black;
        justify-content: center;
    }
    
    .statsRightOneDivision, .statsRightTwoDivision {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    
    .forumDivision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 100px;
    }
    
    .forumDivision form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .forumInputDivision  {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .forumInputDivision div {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        gap: 30px;
    }
    
    
    .pricingDivision {
        margin-top: 100px;
    }
    
    .pricingDivisionsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .pricingDivisionsDiv div {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    
    
    .partnersDivision {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .partnersDivision a {
        text-decoration: underline;
        color: black;
        text-align: center;
    }
    
    
    
    .collabImagesDivisionScroll {
        width: 100%;
        overflow: hidden;
    }
        
    .collabImagesDivision {
        display: flex;
        gap: 40px;               
        min-width: max-content; 
        animation: marquee 20s linear infinite;
    }
        
    .collabImagesDivision img {
        height: 30px; 
        object-fit: cover;            
    }
        
    @keyframes marquee {
        100% {
            transform: translateX(0);
        }
        0% {
            transform: translateX(-50%);
        }
    }
    
    .collabImagesDivisionScroll:hover .collabImagesDivision {
        animation-play-state: paused;
    }
    
    
    .callBookingDivision {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 100px;
        padding: 10px;
        background-color: rgb(207, 207, 207);
        justify-content: space-between;
        align-items: center;
    }
    
    .callBookingDivision img {
        width: 200px;
        height: 200px;
    }
    
    .callBookingDivision a {
        background-color: white;
        color: black;
        border: black 1px solid;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
    }
    
    
    .storyDivisionscroll {
        width: 100%;
        overflow: hidden;
        margin-top: 100px;
    }
    
    .storyDivision {
        display: flex;
        gap: 30px;               
        min-width: max-content; 
        animation: scroll 12s linear infinite;
    }
    
    .storyDivision img {
        height: 80px;
        width: 80px;
    }
    
    @keyframes scroll {
        100% {
            transform: translateX(0);
        }
        0% {
            transform: translateX(-50%);
        }
    }
    
    
    .storyDivisionscrollTwo {
        width: 100%;
        overflow: hidden;
        margin-top: 100px;
    }
    
    .storyDivisionTwo {
        display: flex;
        gap: 30px;               
        min-width: max-content; 
        animation: scrollTwo 12s linear infinite;
    }
    
    .storyDivisionTwo img {
        height: 80px;
        width: 80px;
    }
    
    @keyframes scrollTwo {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    
    .collabImagesDivisionScroll:hover .collabImagesDivision {
        animation-play-state: paused;
    }
    
    
    .teamPartDivision {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .teamPartDivision button {
        height: 40px;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    
    .singnInDivision {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: black;
        color: white;
        height: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .singnInDivision a {
        color: white;
        text-decoration: none;
    }
    
    .singnInDivision a:hover {
        text-decoration: underline;
    }
    
    .testimonialDivision {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    .testimonialDivision img {
        background-color: red;
        height: 40px;
        width: 40px;
    }
    
    .testimonialOne, .testimonialTwo, .testimonialThree {
        width: 250px;
        border: 1px solid black;
        padding: 5px;
    }
    
    .testimonialOne:hover, .testimonialTwo:hover, .testimonialThree:hover {
        transform: translateY(-10px);
        translate: tranform 0.5s ease;
    }
    
    
    .faq-section {
        max-width: 700px;
        margin: 2rem auto;
        font-family: Arial, sans-serif;
        margin-top: 100px;
        overflow: hidden;
    }
    
    .faq-section h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    
    .faq-item {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.5rem;
    }
    
    .faq-question {
        width: 100%;
        background: #fff;
        border: none;
        padding: 1rem;
        text-align: left;
        font-size: 0.7rem;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        position: relative;
    }
    
    .faq-question::after {
        content: "＋";
        position: absolute;
        right: 1rem;
        font-size: 1.2rem;
        transition: transform 0.3s ease;
    }
    
    .faq-question.active::after {
        transform: rotate(45deg);
    }
    
    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 1rem;
    }
    
    .faq-answer p {
        margin: 0.8rem 0;
        font-size: 0.95rem;
        color: #444;
    }
    
    
    .footerdivision {
        margin-top: 100px;
        background-color: black;
        color: white;
        padding: 40px;
        margin-left: -20px;
        margin-right: -20px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
    .footerDivisionMain {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .footerdivision img {
        height: 50px;
        width: 50px;
    }
    
    .footerRightCompanyQuickLinks {
        display: flex;
        gap: 50px;
    }
    
    .footerRightCompanyQuickLinks div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footerRightCompanyQuickLinks h3 {
        color: grey;
    }
    .footerRightCompanyQuickLinks a {
        text-decoration: none;
        color: white;
    }
    .footerRightCompanyQuickLinks a:hover {
        text-decoration: underline;
    }
    
    
    .backToTopDivision {
        margin-top: 100px;
        background-color: black;
        color: white;
        margin-left: -20px;
        margin-right: -20px;
        text-align: center;
        position: relative;
    }
    
    .backToTopDivision a {
        color: white;
        text-decoration: none;
    }
    
    .backToTopDivision a:hover {
        text-decoration: underline;
    }
    
    .footerWhatsAppMessage {
        position: fixed;
        bottom: 120px;
        right: 40px;
    }
    
    .footerMailMesssage {
        position: fixed;
        bottom: 60px;
        right: 40px;
    }
    
    .backToTopDivision img {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    
    .privacyPolicyDivision {
        margin-top: 100px;
        color: grey;
        font-size: 10px;
        text-align: center;
    }
    
}